@{
    ViewData["Title"] = "Accueil";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenue au TP4</h1>
    <p class="lead">Système de gestion des étudiants, des cours et des notes</p>
    <hr class="my-4">
    <p>Ce système permet de gérer toutes les informations relatives aux étudiants, enseignants, cours et inscriptions.</p>
</div>
